In [1]:
import os
import pandas as pd

In [3]:
df = pd.read_csv("../data_given/BankNote_Authentication.csv")

In [4]:
df.head()

   variance  skewness  curtosis  entropy  class
0   3.62160    8.6661   -2.8073 -0.44699      0
1   4.54590    8.1674   -2.4586 -1.46210      0
2   3.86600   -2.6383    1.9242  0.10645      0
3   3.45660    9.5228   -4.0112 -3.59440      0
4   0.32924   -4.4552    4.5718 -0.98880      0

In [5]:
df.describe()

          variance     skewness     curtosis      entropy        class
count  1372.000000  1372.000000  1372.000000  1372.000000  1372.000000
mean      0.433735     1.922353     1.397627    -1.191657     0.444606
std       2.842763     5.869047     4.310030     2.101013     0.497103
min      -7.042100   -13.773100    -5.286100    -8.548200     0.000000
25%      -1.773000    -1.708200    -1.574975    -2.413450     0.000000
50%       0.496180     2.319650     0.616630    -0.586650     0.000000
75%       2.821475     6.814625     3.179250     0.394810     1.000000
max       6.824800    12.951600    17.927400     2.449500     1.000000

In [6]:
overview = df.describe()
overview.loc[["min", "max"]]

     variance  skewness  curtosis  entropy  class
min   -7.0421  -13.7731   -5.2861  -8.5482    0.0
max    6.8248   12.9516   17.9274   2.4495    1.0

In [7]:
class NotInRange(Exception):
    def __init__(self, message="value not in range"):
       # self.input_ = input_
        self.message = message
        super().__init__(self.message)

In [8]:
raise NotInRange

NotInRange: value not in range